<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korit.dreampath_back.mapper.MentoringCategoryMapper">

    <select id="findAll" resultType="com.korit.dreampath_back.entity.MentoringCategory">
        select
            mentoring_category_id as mentoringCategoryId,
            mentoring_category_name as mentoringCategoryName
        from
            mentoring_category_tb
    </select>
</mapper>